.intro {
  position: relative;
}

.intro__video {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.intro__heading,
.intro__cta-text,
.intro__cta-link {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro__cta-link {
  display: block;
}