@font-face {
  font-family: "meetup-font";
  src: url("meetup-font.woff2") format("woff2");
}

.intro {
  display: flex;
  flex-direction: column;
  height: 460px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-family: "meetup-font";
}

.intro__video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;

}
@media (max-width: 816px ) {
  .intro__video {
    height: 100%;
  }
}
@media (min-width: 817px ) {
  .intro__video {
    width: 100%;
  }
}

.intro__heading {
  font-size: 46px;
}

.intro__heading,
.intro__cta-text,
.intro__cta-link {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro__cta-link {
  display: block;
}